@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faustina&display=swap");
body {
  padding-top: 50px;
}
body .topbar-container {
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  position: fixed;
  box-shadow: 10px 0px 20px rgba(128, 128, 128, 0.8);
}
body .topbar-container .omnipresent-bar {
  display: flex;
  flex-flow: row nowrap;
}
body .topbar-container .omnipresent-bar .logo-holder {
  width: 10%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
@media screen and (max-width: 1560px) {
  body .topbar-container .omnipresent-bar .logo-holder {
    width: 5%;
    justify-content: center;
  }
}
body .topbar-container .omnipresent-bar .logo-holder img {
  max-width: 100%;
  max-height: 100%;
  filter: invert(45%) sepia(13%) saturate(3508%) hue-rotate(220deg) brightness(96%) contrast(100%);
}
body .topbar-container .omnipresent-bar .logo-holder .site-name {
  font-family: "Shadows Into Light", cursive;
  font-size: 3vh;
}
@media screen and (max-width: 1560px) {
  body .topbar-container .omnipresent-bar .logo-holder .site-name {
    display: none;
  }
}
body .topbar-container .omnipresent-bar .contentbar-holder {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  height: 50px;
}
@media screen and (max-width: 1560px) {
  body .topbar-container .omnipresent-bar .contentbar-holder {
    width: 95%;
  }
}
body .topbar-container .omnipresent-bar .contentbar-holder .input-search {
  width: 80%;
  height: 50px;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-between;
  justify-items: center;
}
body .topbar-container .omnipresent-bar .contentbar-holder .input-search input {
  margin: 8px;
  width: 100%;
  border-radius: 30px;
  padding-left: 1%;
  font-family: "Faustina", serif;
  font-size: 16px;
}
body .topbar-container .omnipresent-bar .contentbar-holder .input-search input:focus {
  outline: none;
}
body .topbar-container .omnipresent-bar .contentbar-holder .button-container {
  width: 20%;
  height: 50px;
  margin-bottom: 8px;
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-items: space-between;
}
body .topbar-container .omnipresent-bar .contentbar-holder .button-container .download-button {
  margin: 2%;
  display: flex;
  width: 50%;
  height: 40px;
  background-color: #efefef;
  color: #111;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-family: "Faustina", serif;
}
body .topbar-container .omnipresent-bar .contentbar-holder .button-container .download-button:hover {
  background-color: #c9c9c9;
}
body .topbar-container .omnipresent-bar .contentbar-holder .button-container .signin-button {
  margin: 2%;
  display: flex;
  width: 50%;
  height: 40px;
  background-color: #8a5df6;
  color: #111;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-family: "Faustina", serif;
}
body .topbar-container .omnipresent-bar .contentbar-holder .button-container .signin-button:hover {
  background-color: #672bf3;
}
body .body-images {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}
body .body-images .container {
  column-gap: 10px;
}
@media only screen and (min-width: 1440px) {
  body .body-images .container {
    column-count: 5;
  }
}
@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  body .body-images .container {
    column-count: 4;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1079px) {
  body .body-images .container {
    column-count: 3;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body .body-images .container {
    column-count: 2;
  }
}
@media only screen and (max-width: 479px) {
  body .body-images .container {
    column-count: 1;
  }
}
body .body-images .container .image {
  margin-bottom: 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .body-images .container .image img {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    column-count: 3;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    column-count: 2;
  }

  .input-search {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    column-count: 1;
  }

  .input-search {
    display: none !important;
  }
}

/*# sourceMappingURL=main.css.map */
