$bar-height: 50px;
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
body {
    padding-top: $bar-height;
    .topbar-container {
        width: 100%;
        height: $bar-height;
        //background-color: greenyellow;
        //border-bottom: 1px solid gainsboro;
        top: 0px;
        left: 0px;
        position: fixed;
        box-shadow: 10px 0px 20px rgba(128, 128, 128, 0.8);
        //z-index: 1991;
        .omnipresent-bar {
            display: flex;
            flex-flow: row nowrap;
            //justify-content: space-between;
            //column-count: 2;
            .logo-holder {
                width: 10%;
                height: $bar-height;
                //background-color: hotpink;
                background-color: #fff;
                display: flex;
                justify-content: flex-start;
                text-align: center;
                @media screen and (max-width: 1560px){
                    width: 5%;
                    justify-content: center;
                }
                img{
                    max-width: 100%;
                    max-height: 100%;
                    //black magic... thanks to https://codepen.io/sosuke/pen/Pjoqqp
                    filter: invert(45%) sepia(13%) saturate(3508%) hue-rotate(220deg) brightness(96%) contrast(100%);
                }
                .site-name{
                    //color: #8a5df6;
                    font-family: 'Shadows Into Light', cursive;
                    font-size: 3vh;
                    @media screen and (max-width: 1560px){
                        display: none;
                    }
                }
            }
            .contentbar-holder {
                display: flex;
                flex-flow: row nowrap;
                width: 90%;
                @media screen and (max-width: 1560px){
                    width: 95%;
                }
                height: $bar-height;
                //background-color: midnightblue;
                .input-search {
                    width: 80%;
                    height: $bar-height;
                    background-color: #fff;
                    display: flex;
                    flex-flow: row nowrap;
                    align-content: space-between;
                    justify-items: center;
                    input {
                        margin: 8px;
                        width: 100%;
                        border-radius: 30px;
                        padding-left: 1%;
                        font-family: 'Faustina', serif;
                        font-size: 16px;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .button-container {
                    width: 20%;
                    height: $bar-height;
                    margin-bottom: 8px;
                    //background-color: olive;
                    background-color: #fff;
                    align-items: center;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-items: space-between;
                    .download-button {
                        margin: 2%;
                        display: flex;
                        width: 50%;
                        height: 40px;
                        background-color: #efefef;
                        color: #111;
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;
                        border-radius: 30px;
                        font-family: 'Faustina', serif;
                        &:hover{
                            background-color: #c9c9c9;
                        }
                    }
                    .signin-button {
                        margin: 2%;
                        display: flex;
                        width: 50%;
                        height: 40px;
                        background-color: #8a5df6;
                        color: #111;
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;
                        border-radius: 30px;
                        font-family: 'Faustina', serif;
                        &:hover{
                            background-color: #672bf3;
                        }
                    }
                }
            }
        }
    }

    .body-images {
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
        .container {
            column-gap: 10px;
            @media only screen and (min-width: 1440px) {
                column-count: 5;
            }
            @media only screen and (min-width: 1080px) and (max-width: 1439px) {
                column-count: 4;
            }
            @media only screen and (min-width: 768px) and (max-width: 1079px) {
                column-count: 3;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                column-count: 2;
            }
            @media only screen and (max-width: 479px) {
                column-count: 1;
            }
            .image {
                margin-bottom: 10px;
                display: inline-block;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                img {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    max-width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        column-count: 3;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        column-count: 2;
    }
    .input-search {
        display: none !important;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        column-count: 1;
    }
    .input-search {
        display: none !important;
    }
}